#### Import libraries

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv('realtor-data.csv')

#### Raw data

In [4]:
df.head()

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,NaN,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,NaN,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,NaN,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,NaN,145000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,NaN,65000.0

In [5]:
df.shape #unclean data size

(904966, 10)

In [6]:
df.isnull().sum()

status                 0
bed               129840
bath              113884
acre_lot          266642
city                  72
state                  0
zip_code             204
house_size        292886
prev_sold_date    459101
price                 71
dtype: int64

### Data preprocessing

In [7]:
df1 = df.copy()

In [8]:
df1 = df1.drop(['prev_sold_date'],axis=1) #dropping unwanted columns - prev_sold_date

In [9]:
df1.isnull().sum()

status             0
bed           129840
bath          113884
acre_lot      266642
city              72
state              0
zip_code         204
house_size    292886
price             71
dtype: int64

In [10]:
df1['bed'].fillna(np.random.randint(1,4),inplace=True) #replacing NaN values with random(1-4) beds

In [11]:
df1 = df1.loc[df1['bed']<=4]

In [12]:
df1['bed'].unique()

array([3., 4., 2., 1.])

In [13]:
df1['bath'].fillna(np.random.randint(1,3),inplace = True)

In [14]:
df1.isnull().sum()

status             0
bed                0
bath               0
acre_lot      255689
city              62
state              0
zip_code         201
house_size    257654
price             62
dtype: int64

In [15]:
df1.head()

,status,bed,bath,acre_lot,city,state,zip_code,house_size,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,145000.0
5,for_sale,4.0,3.0,0.46,San Sebastian,Puerto Rico,612.0,2520.0,179000.0

In [16]:
df2 = df1.copy()

In [17]:
df2 = df2.drop(df2[df2['price'].isnull()].index) #dropping Nan values in price

In [18]:
df2 = df2.drop(df2[df2['city'].isnull()].index) #dropping Nan values in city

In [19]:
df2 = df2.drop(df2[df2['zip_code'].isnull()].index) #dropping Nan values in zipcode

In [20]:
df2.isnull().sum()

status             0
bed                0
bath               0
acre_lot      255591
city               0
state              0
zip_code           0
house_size    257564
price              0
dtype: int64

In [21]:
df2

,status,bed,bath,acre_lot,city,state,zip_code,house_size,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,145000.0
5,for_sale,4.0,3.0,0.46,San Sebastian,Puerto Rico,612.0,2520.0,179000.0
...,...,...,...,...,...,...,...,...,...
904961,for_sale,2.0,2.0,NaN,New York City,New York,10463.0,NaN,359000.0
904962,for_sale,2.0,2.0,NaN,Bronx,New York,10463.0,1200.0,299000.0
904963,for_sale,1.0,1.0,NaN,Bronx,New York,10463.0,NaN,120000.0
904964,for_sale,3.0,2.0,NaN,Bronx,New York,10463.0,NaN,449000.0
904965,for_sale,3.0,3.0,NaN,New York City,New York,10463.0,1677.0,850000.0

In [23]:
housing_data=df2 #imputing nan values of house_size with linear regression predicted values

#### Building a Linear regression model on missing 'house_size' values based on number of beds, number of baths, city, state since it can't be randomly populated or deleted.

In [24]:
housing_data["city_num"] = housing_data["city"].astype("category").cat.codes
housing_data["state_num"] = housing_data["state"].astype("category").cat.codes

features = ["bed", "bath", "city_num", "state_num","price"]

housing_data_no_nan = housing_data[~np.isnan(housing_data["house_size"])]

model = LinearRegression()
model.fit(housing_data_no_nan[features], housing_data_no_nan["house_size"])

house_size_imputed = housing_data["house_size"].copy()
house_size_imputed[np.isnan(house_size_imputed)] = model.predict(housing_data[features][np.isnan(house_size_imputed)])

housing_data["house_size"] = house_size_imputed

In [25]:
housing_data.isnull().sum()

status             0
bed                0
bath               0
acre_lot      255591
city               0
state              0
zip_code           0
house_size         0
price              0
city_num           0
state_num          0
dtype: int64

In [26]:
housing_data.head(60)

,status,bed,bath,acre_lot,city,state,zip_code,house_size,price,city_num,state_num
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.000000,105000.0,14,9
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.000000,80000.0,14,9
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.000000,67000.0,1042,9
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.000000,145000.0,1705,9
5,for_sale,4.0,3.0,0.46,San Sebastian,Puerto Rico,612.0,2520.000000,179000.0,1879,9
6,for_sale,3.0,1.0,0.20,Ciales,Puerto Rico,639.0,2040.000000,50000.0,407,9
7,for_sale,3.0,2.0,0.08,Ponce,Puerto Rico,731.0,1050.000000,71600.0,1705,9
8,for_sale,2.0,1.0,0.09,Ponce,Puerto Rico,730.0,1092.000000,100000.0,1705,9
10,for_sale,3.0,2.0,13.39,Isabela,Puerto Rico,662.0,1106.000000,89000.0,1011,9
11,for_sale,3.0,2.0,0.08,Juana Diaz,Puerto Rico,795.0,1045.000000,150000.0,1042,9
12,for_sale,3.0,2.0,0.10,Lares,Puerto Rico,669.0,4161.000000,155000.0,1109,9
15,for_sale,3.0,2.0,0.08,Yauco,Puerto Rico,698.0,1100.000000,120000.0,2451,9
16,for_sale,4.0,4.0,0.22,Mayaguez,Puerto Rico,680.0,3450.000000,235000.0,1273,9
17,for_sale,3.0,2.0,0.08,Ponce,Puerto Rico,728.0,1500.000000,105000.0,1705,9
18,for_sale,3.0,2.0,3.88,San Sebastian,Puerto Rico,685.0,4000.000000,575000.0,1879,9
20,for_sale,2.0,1.0,0.23,Yauco,Puerto Rico,698.0,621.000000,50000.0,2451,9
22,for_sale,3.0,1.0,2.00,Coamo,Puerto Rico,769.0,1213.000000,189000.0,432,9
23,for_sale,3.0,2.0,NaN,Ponce,Puerto Rico,716.0,1148.000000,115000.0,1705,9
24,for_sale,3.0,2.0,0.05,Yauco,Puerto Rico,698.0,1118.000000,122500.0,2451,9
25,for_sale,3.0,2.0,0.28,San Sebastian,Puerto Rico,685.0,1500.000000,255000.0,1879,9
26,for_sale,4.0,3.0,0.30,Ponce,Puerto Rico,730.0,3000.000000,425000.0,1705,9
27,for_sale,4.0,2.0,0.11,Guayanilla,Puerto Rico,656.0,1300.000000,93000.0,863,9
28,for_sale,4.0,2.0,0.04,Manati,Puerto Rico,676.0,1080.000000,75000.0,1227,9
29,for_sale,3.0,2.0,0.69,Isabela,Puerto Rico,662.0,2505.000000,469000.0,1011,9
32,for_sale,4.0,2.0,3.08,Santa Isabel,Puerto Rico,757.0,2886.000000,495000.0,1891,9
33,for_sale,1.0,1.0,0.10,Ponce,Puerto Rico,730.0,850.000000,220000.0,1705,9
34,for_sale,3.0,1.0,0.23,Yauco,Puerto Rico,698.0,936.000000,70500.0,2451,9
35,for_sale,3.0,2.0,1.13,Moca,Puerto Rico,676.0,1928.000000,305000.0,1343,9
36,for_sale,4.0,4.0,4.84,San Sebastian,Puerto Rico,685.0,3690.000000,475000.0,1879,9
37,for_sale,3.0,4.0,1.94,Utuado,Puerto Rico,641.0,2500.000000,195000.0,2196,9
38,for_sale,4.0,2.0,0.24,Las Marias,Puerto Rico,670.0,1800.000000,120000.0,1110,9
42,for_sale,1.0,2.0,0.99,Moca,Puerto Rico,676.0,43082.000000,400000.0,1343,9
43,for_sale,1.0,2.0,18.45,Hatillo,Puerto Rico,659.0,1252.184111,380000.0,922,9
44,for_sale,3.0,2.0,0.10,Aguada,Puerto Rico,602.0,600.000000,95000.0,16,9
45,for_sale,3.0,1.0,0.09,Aguada,Puerto Rico,602.0,900.000000,74000.0,16,9
46,for_sale,4.0,2.0,0.15,Aguada,Puerto Rico,602.0,3000.000000,139500.0,16,9
47,for_sale,1.0,1.0,0.26,Aguada,Puerto Rico,602.0,2100.000000,149900.0,16,9
48,for_sale,2.0,2.0,0.24,Aguada,Puerto Rico,602.0,1138.000000,180000.0,16,9
49,for_sale,3.0,2.0,0.13,Aguada,Puerto Rico,602.0,1380.000000,249000.0,16,9
51,for_sale,2.0,1.0,NaN,Aguada,Puerto Rico,602.0,813.000000,160000.0,16,9
52,for_sale,2.0,1.0,0.07,Aguada,Puerto Rico,602.0,813.000000,90000.0,16,9
54,for_sale,4.0,2.0,0.10,Aguada,Puerto Rico,602.0,1955.000000,339000.0,16,9
55,for_sale,3.0,2.0,0.08,Aguada,Puerto Rico,602.0,1200.000000,265000.0,16,9
57,for_sale,3.0,4.0,2.00,Aguada,Puerto Rico,602.0,1880.000000,389000.0,16,9
58,for_sale,3.0,2.0,2.96,Aguada,Puerto Rico,602.0,2500.000000,575000.0,16,9
59,for_sale,1.0,2.0,0.88,Aguada,Puerto Rico,602.0,1199.860583,35000.0,16,9
60,for_sale,1.0,2.0,0.21,Aguada,Puerto Rico,602.0,1202.924103,58000.0,16,9
61,for_sale,1.0,2.0,21.08,Aguada,Puerto Rico,602.0,1206.520409,85000.0,16,9
62,for_sale,1.0,2.0,0.57,Aguada,Puerto Rico,602.0,1201.458941,47000.0,16,9
63,for_sale,3.0,3.0,NaN,Aguada,Puerto Rico,602.0,2715.000000,720000.0,16,9
65,for_sale,1.0,2.0,0.65,Aguada,Puerto Rico,602.0,1201.858531,50000.0,16,9
66,for_sale,1.0,6.0,0.06,Rincon,Puerto Rico,602.0,3798.896729,3250000.0,1790,9
67,for_sale,1.0,2.0,0.24,Aguada,Puerto Rico,602.0,1200.459968,39500.0,16,9
68,for_sale,1.0,2.0,33.35,Aguada,Puerto Rico,602.0,1228.431236,249500.0,16,9
71,for_sale,1.0,2.0,2.64,Aguada,Puerto Rico,602.0,1281.643244,649000.0,16,9
72,for_sale,2.0,1.0,NaN,Aguada,Puerto Rico,602.0,951.000000,189000.0,16,9
73,for_sale,1.0,2.0,1.46,Aguada,Puerto Rico,602.0,1215.178183,150000.0,16,9
74,for_sale,1.0,2.0,0.21,Aguada,Puerto Rico,602.0,1205.055247,74000.0,16,9
75,for_sale,1.0,2.0,0.28,Aguada,Puerto Rico,602.0,1203.923077,65500.0,16,9
76,for_sale,1.0,2.0,0.28,Aguada,Puerto Rico,602.0,1204.189470,67500.0,16,9

In [27]:
df3 = housing_data

In [28]:
df3["acre_lot"] = df3["acre_lot"].fillna(df3["acre_lot"].median()) #population NaN acre_lot values with median of the column

In [29]:
df3.isnull().sum()

status        0
bed           0
bath          0
acre_lot      0
city          0
state         0
zip_code      0
house_size    0
price         0
city_num      0
state_num     0
dtype: int64

In [30]:
df3.dtypes

status         object
bed           float64
bath          float64
acre_lot      float64
city           object
state          object
zip_code      float64
house_size    float64
price         float64
city_num        int16
state_num        int8
dtype: object

In [31]:
df3['bed'] = df3['bed'].astype('int64') # changing the data type of bed,bath,price,zip_code, house_size from float to int
df3['bath'] = df3['bath'].astype('int64')
df3['price'] = df3['price'].astype('int64')
df3['zip_code'] = df3['zip_code'].astype('int64')
df3['house_size'] = df3['house_size'].astype('int64')

In [32]:
df3 = df3.drop(['city_num','state_num','status'],axis=1) #removing unwanted columns

In [33]:
df3

,bed,bath,acre_lot,city,state,zip_code,house_size,price
0,3,2,0.12,Adjuntas,Puerto Rico,601,920,105000
1,4,2,0.08,Adjuntas,Puerto Rico,601,1527,80000
2,2,1,0.15,Juana Diaz,Puerto Rico,795,748,67000
3,4,2,0.10,Ponce,Puerto Rico,731,1800,145000
5,4,3,0.46,San Sebastian,Puerto Rico,612,2520,179000
...,...,...,...,...,...,...,...,...
904961,2,2,0.33,New York City,New York,10463,1461,359000
904962,2,2,0.33,Bronx,New York,10463,1200,299000
904963,1,1,0.33,Bronx,New York,10463,673,120000
904964,3,2,0.33,Bronx,New York,10463,1672,449000
904965,3,3,0.33,New York City,New York,10463,1677,850000

In [34]:
housing_data.head(60)

,status,bed,bath,acre_lot,city,state,zip_code,house_size,price,city_num,state_num
0,for_sale,3,2,0.12,Adjuntas,Puerto Rico,601,920,105000,14,9
1,for_sale,4,2,0.08,Adjuntas,Puerto Rico,601,1527,80000,14,9
2,for_sale,2,1,0.15,Juana Diaz,Puerto Rico,795,748,67000,1042,9
3,for_sale,4,2,0.10,Ponce,Puerto Rico,731,1800,145000,1705,9
5,for_sale,4,3,0.46,San Sebastian,Puerto Rico,612,2520,179000,1879,9
6,for_sale,3,1,0.20,Ciales,Puerto Rico,639,2040,50000,407,9
7,for_sale,3,2,0.08,Ponce,Puerto Rico,731,1050,71600,1705,9
8,for_sale,2,1,0.09,Ponce,Puerto Rico,730,1092,100000,1705,9
10,for_sale,3,2,13.39,Isabela,Puerto Rico,662,1106,89000,1011,9
11,for_sale,3,2,0.08,Juana Diaz,Puerto Rico,795,1045,150000,1042,9
12,for_sale,3,2,0.10,Lares,Puerto Rico,669,4161,155000,1109,9
15,for_sale,3,2,0.08,Yauco,Puerto Rico,698,1100,120000,2451,9
16,for_sale,4,4,0.22,Mayaguez,Puerto Rico,680,3450,235000,1273,9
17,for_sale,3,2,0.08,Ponce,Puerto Rico,728,1500,105000,1705,9
18,for_sale,3,2,3.88,San Sebastian,Puerto Rico,685,4000,575000,1879,9
20,for_sale,2,1,0.23,Yauco,Puerto Rico,698,621,50000,2451,9
22,for_sale,3,1,2.00,Coamo,Puerto Rico,769,1213,189000,432,9
23,for_sale,3,2,0.33,Ponce,Puerto Rico,716,1148,115000,1705,9
24,for_sale,3,2,0.05,Yauco,Puerto Rico,698,1118,122500,2451,9
25,for_sale,3,2,0.28,San Sebastian,Puerto Rico,685,1500,255000,1879,9
26,for_sale,4,3,0.30,Ponce,Puerto Rico,730,3000,425000,1705,9
27,for_sale,4,2,0.11,Guayanilla,Puerto Rico,656,1300,93000,863,9
28,for_sale,4,2,0.04,Manati,Puerto Rico,676,1080,75000,1227,9
29,for_sale,3,2,0.69,Isabela,Puerto Rico,662,2505,469000,1011,9
32,for_sale,4,2,3.08,Santa Isabel,Puerto Rico,757,2886,495000,1891,9
33,for_sale,1,1,0.10,Ponce,Puerto Rico,730,850,220000,1705,9
34,for_sale,3,1,0.23,Yauco,Puerto Rico,698,936,70500,2451,9
35,for_sale,3,2,1.13,Moca,Puerto Rico,676,1928,305000,1343,9
36,for_sale,4,4,4.84,San Sebastian,Puerto Rico,685,3690,475000,1879,9
37,for_sale,3,4,1.94,Utuado,Puerto Rico,641,2500,195000,2196,9
38,for_sale,4,2,0.24,Las Marias,Puerto Rico,670,1800,120000,1110,9
42,for_sale,1,2,0.99,Moca,Puerto Rico,676,43082,400000,1343,9
43,for_sale,1,2,18.45,Hatillo,Puerto Rico,659,1252,380000,922,9
44,for_sale,3,2,0.10,Aguada,Puerto Rico,602,600,95000,16,9
45,for_sale,3,1,0.09,Aguada,Puerto Rico,602,900,74000,16,9
46,for_sale,4,2,0.15,Aguada,Puerto Rico,602,3000,139500,16,9
47,for_sale,1,1,0.26,Aguada,Puerto Rico,602,2100,149900,16,9
48,for_sale,2,2,0.24,Aguada,Puerto Rico,602,1138,180000,16,9
49,for_sale,3,2,0.13,Aguada,Puerto Rico,602,1380,249000,16,9
51,for_sale,2,1,0.33,Aguada,Puerto Rico,602,813,160000,16,9
52,for_sale,2,1,0.07,Aguada,Puerto Rico,602,813,90000,16,9
54,for_sale,4,2,0.10,Aguada,Puerto Rico,602,1955,339000,16,9
55,for_sale,3,2,0.08,Aguada,Puerto Rico,602,1200,265000,16,9
57,for_sale,3,4,2.00,Aguada,Puerto Rico,602,1880,389000,16,9
58,for_sale,3,2,2.96,Aguada,Puerto Rico,602,2500,575000,16,9
59,for_sale,1,2,0.88,Aguada,Puerto Rico,602,1199,35000,16,9
60,for_sale,1,2,0.21,Aguada,Puerto Rico,602,1202,58000,16,9
61,for_sale,1,2,21.08,Aguada,Puerto Rico,602,1206,85000,16,9
62,for_sale,1,2,0.57,Aguada,Puerto Rico,602,1201,47000,16,9
63,for_sale,3,3,0.33,Aguada,Puerto Rico,602,2715,720000,16,9
65,for_sale,1,2,0.65,Aguada,Puerto Rico,602,1201,50000,16,9
66,for_sale,1,6,0.06,Rincon,Puerto Rico,602,3798,3250000,1790,9
67,for_sale,1,2,0.24,Aguada,Puerto Rico,602,1200,39500,16,9
68,for_sale,1,2,33.35,Aguada,Puerto Rico,602,1228,249500,16,9
71,for_sale,1,2,2.64,Aguada,Puerto Rico,602,1281,649000,16,9
72,for_sale,2,1,0.33,Aguada,Puerto Rico,602,951,189000,16,9
73,for_sale,1,2,1.46,Aguada,Puerto Rico,602,1215,150000,16,9
74,for_sale,1,2,0.21,Aguada,Puerto Rico,602,1205,74000,16,9
75,for_sale,1,2,0.28,Aguada,Puerto Rico,602,1203,65500,16,9
76,for_sale,1,2,0.28,Aguada,Puerto Rico,602,1204,67500,16,9

In [35]:
df3['bath'].unique()

array([ 2,  1,  3,  4,  6,  7,  5, 10,  8,  9, 20, 29, 18, 13, 15, 11, 16,
       12, 22])

In [36]:
df3.isnull().sum()

bed           0
bath          0
acre_lot      0
city          0
state         0
zip_code      0
house_size    0
price         0
dtype: int64

In [37]:
df3 = df3.loc[df3['bath']<=4] #removing erraneous bath values

In [38]:
df3

,bed,bath,acre_lot,city,state,zip_code,house_size,price
0,3,2,0.12,Adjuntas,Puerto Rico,601,920,105000
1,4,2,0.08,Adjuntas,Puerto Rico,601,1527,80000
2,2,1,0.15,Juana Diaz,Puerto Rico,795,748,67000
3,4,2,0.10,Ponce,Puerto Rico,731,1800,145000
5,4,3,0.46,San Sebastian,Puerto Rico,612,2520,179000
...,...,...,...,...,...,...,...,...
904961,2,2,0.33,New York City,New York,10463,1461,359000
904962,2,2,0.33,Bronx,New York,10463,1200,299000
904963,1,1,0.33,Bronx,New York,10463,673,120000
904964,3,2,0.33,Bronx,New York,10463,1672,449000
904965,3,3,0.33,New York City,New York,10463,1677,850000

#### Download clean data

In [39]:
df3.to_csv('housing_data.csv')

#### Finding average house price per zipcode

In [289]:
df4 = df3.copy()

In [290]:
df4.head()

,bed,bath,acre_lot,city,state,zip_code,house_size,price
0,3,2,0.12,Adjuntas,Puerto Rico,601,920,105000
1,4,2,0.08,Adjuntas,Puerto Rico,601,1527,80000
2,2,1,0.15,Juana Diaz,Puerto Rico,795,748,67000
3,4,2,0.10,Ponce,Puerto Rico,731,1800,145000
5,4,3,0.46,San Sebastian,Puerto Rico,612,2520,179000

In [291]:
df4=df4.drop(['bed','bath','acre_lot','city','state','house_size'],axis=1)

In [292]:
df4.head()

   zip_code   price
0       601  105000
1       601   80000
2       795   67000
3       731  145000
5       612  179000

In [293]:
df4 = df4.groupby('zip_code').mean() #Averaging the house price for each zipcode

In [294]:
df4.reset_index(inplace=True)

In [295]:
df4.head()

   zip_code          price
0       601   92878.787879
1       602  190157.733990
2       603  301950.596685
3       604   79900.000000
4       605  171200.000000

In [296]:
df4.dtypes

zip_code      int64
price       float64
dtype: object

In [297]:
df4['price'] = df4['price'].astype('int64')

#### Average house price per Zipcode

In [298]:
df4.head()

   zip_code   price
0       601   92878
1       602  190157
2       603  301950
3       604   79900
4       605  171200

In [300]:
def check_condition(row):
    zip_code = row['zip_code']
    price = row['price']
    
    current_index = df4.index[df4['zip_code'] == zip_code][0] # Find the indices of the neighboring rows
    prev_index = current_index - 1
    next_index = current_index + 1
    
    if prev_index >= 0 and next_index < len(df4):             # Check if the current price meets the condition
        prev_price = df4.loc[prev_index, 'price']
        next_price = df4.loc[next_index, 'price']
        return 3 * price < prev_price and 3 * price < next_price
    else:
        return False

result = df4[df4.apply(check_condition, axis=1)]

selected_zip_codes = result['zip_code'].tolist()              # Get the zip codes that meet the condition
print("Zipcodes with high disparities in average house prices that are lower than the neighbouring zipcodes-->",selected_zip_codes)

Zipcodes with high disparities in average house prices that are lower than the neighbouring zipcodes--> [656, 661, 719, 777, 910, 970, 1011, 1235, 1243, 2553, 2571, 2714, 3240, 3260, 3273, 3785, 3864, 4020, 4022, 4056, 4237, 4280, 4343, 4419, 4479, 4492, 4539, 4544, 4553, 4680, 4763, 4777, 4923, 5070, 5252, 5494, 5650, 5675, 5746, 5827, 5831, 5858, 5862, 6336, 6350, 6373, 7710, 8007, 8073, 8252, 10924, 11431, 11953, 11961, 12033, 12165, 12565, 12746, 12864, 12988, 18040, 18342, 19374, 29835, 37760]